<div class="home-component">
  <h1 class="home-component-title">AngularJS for Typescript</h1>
  <p class="home-component-title-legend">Edit this in <code>app/common/home/home.component.html</code></p>
  <nav class="home-component-nav">
    <a href="https://github.com/mateusKoppe/generator-batangularjs#readme" target="_blank">Documentation</a>
    <a href="https://github.com/toddmotto/angularjs-styleguide#readme" target="_blank">Styleguide</a>
    <a href="https://github.com/mateusKoppe/generator-batangularjs/stargazers" target="_blank">Give a star</a>
  </nav>
</div>
